rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedInAs(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      match /almosts/{almostId} {
        function isValidAlmost() {
          return request.resource.data.text is string &&
                 request.resource.data.createdAt is timestamp &&
                 request.resource.data.failureModes is list &&
                 request.resource.data.triggers is list &&
                 request.resource.data.contexts is list &&
                 request.resource.data.states is list;
        }

        allow read, delete: if isSignedInAs(userId);
        allow create, update: if isSignedInAs(userId) && isValidAlmost();
      }

      match /adjustments/{adjustmentId} {
        function isValidAdjustment() {
          return request.resource.data.text is string &&
                 request.resource.data.createdAt is timestamp &&
                 request.resource.data.almosts is list &&
                 request.resource.data.state is string;
        }

        allow read, delete: if isSignedInAs(userId);
        allow create, update: if isSignedInAs(userId) && isValidAdjustment();
      }
    }
  }
}
